Repository Keraun/tpl-vite-react-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck, eslint --fix

测试
  src/components/demo/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: 测试husky
  .husky/_/applypatch-msg
  .husky/_/commit-msg
  .husky/_/h
  .husky/_/husky.sh
  .husky/_/post-applypatch
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/post-rewrite
  .husky/_/pre-applypatch
  .husky/_/pre-auto-gc
  .husky/_/pre-commit
  .husky/_/pre-merge-commit
  .husky/_/pre-push
  .husky/_/pre-rebase
  .husky/_/prepare-commit-msg
  .husky/commit-msg
  .husky/pre-commit
Due: none

继续测试
  src/components/demo/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

测试
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/components/demo/index.module.less
  src/components/demo/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: 测试
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(config): add mock service
  .gitignore
  __mock__/user.ts
  config/dev.config.ts
  package.json
  pnpm-lock.yaml
  src/components/demo/index.tsx
  src/lib/request.ts
  src/lib/useFetch.ts
  src/main.tsx
  src/pages/home/index.tsx
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat(css): add tailwwindcss 配置
  README.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/global.less
  src/pages/home/index.tsx
  tailwind.config.js
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck, eslint --fix

feat(add): add router
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/pages/about/index.tsx
  src/pages/notFound/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: 关闭 px2vw插件
  postcss.config.js
Due: prettier --write, eslint --fix

feat: 增加文档注释
  README.md
Due: prettier --write

feat: 细化
  package.json
  pnpm-lock.yaml
  src/components/demo/index.module.less
  src/components/demo/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: 规则更新
  .lintstagedrc
  eslint.config.js
  src/main.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck, eslint --fix

feat: modify eslint rule
  eslint.config.js
Due: prettier --write, eslint --fix

feat: fix axios build
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: react version
  package.json
Due: prettier --write

更新 package.json
  package.json
Due: prettier --write

feat: 更新react-router
  package.json
  pnpm-lock.yaml
  src/App.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: 测试
  package.json
  pnpm-lock.yaml
  src/pages/home/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

新建 .cloudpipeline.yaml
  .cloudpipeline.yaml
Due: none

删除 .cloudpipeline.yaml
  .cloudpipeline.yaml
Due: none

更新 .cloudpipeline.yaml
  .cloudpipeline.yaml
Due: none

feat: modify mutil page
  demo.html
  package.json
  src/App.tsx
  src/common/global-context.tsx
  src/common/global-init.ts
  src/common/global-layout.tsx
  src/common/global-style.less
  src/common/global-types.d.ts
  src/components/demo/index.tsx
  src/pages/about/index.tsx
  src/pages/demo/app.less
  src/pages/demo/app.tsx
  src/pages/demo/components/readme.md
  src/pages/demo/context/page-context.tsx
  src/pages/demo/context/readme.md
  src/pages/demo/main.tsx
  src/pages/demo/types/readme.md
  src/pages/home/index.module.less
  src/pages/home/index.tsx
  src/pages/home/useHomeHook.ts
  src/pages/index/app.less
  src/pages/index/app.tsx
  src/pages/index/components/readme.md
  src/pages/index/context/page-context.tsx
  src/pages/index/context/readme.md
  src/pages/index/main.tsx
  src/pages/index/types/readme.md
  src/pages/notFound/index.tsx
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: add cors
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: fix react
  .cloudpipeline.yaml
  .gitignore
  README copy.md
  package.json
  pnpm-lock.yaml
  src/common/global-init.ts
  src/components/demo/index.tsx
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: 更新layout
  package.json
  src/pages/demo/main.tsx
  src/pages/index/main.tsx
Due: eslint --fix --max-warnings 0, prettier --write, tsc --noEmit --skipLibCheck

feat: update eslint
  eslint.config.js
Due: prettier --write, eslint --fix

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,html,css,scss,less})
  tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  eslint --fix: any of: *.{js,jsx}
